		body{
			background-color: #283d66;
			color: white;
		font-family: Helvetica, Sans-serif;
			}

		h1{
			background-color: #071832;
			color: white;
			}

		h2{
			background-color: #071832;
			color: white;
			}

		p{
			background-color: #071832;
			color: white;
			}

		footer {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #283d66;
			text-align: center;
			}

			.info{
				background-color: #071832
			}

			#main {
				float:left;
				width:500px;
				background:#9c9;
			}

			#sidebar {
				float:right;
				width:250px;
				background: #071832;

				border-style: solid;
				border: 2px;
				border-color: red;
			}
			#links {
				background-color: #071832;
				color: white;
			}
